@font-face {
    font-family: 'aleobolditalic';
    src: url('fonts/Aleo-BoldItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('fonts/Aleo-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('fonts/Aleo-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body .welcomeSection p {
  font-size: 18px;
  line-height: 23px;
  color: #333;
}
.welcome {
  font-size: 22px;
  line-height: 23px;
  color: #666666;
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 11px;
}
/*.welcome::before {
width: 100px;
height: 100px;
background: #000;
content: "";
display: block;
}*/
.logobar {
  background-color: black;
  color: white;
  padding: 20px 0;
}
.logoDescription {
  color: #AC363A;
  font-size: 14px;
  position: relative;
  top: 9px;
}
.username {
  line-height: 37px;
}
.headerContainer {
  background: linear-gradient(to right,rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/img/curve.jpg') no-repeat;
  background-position: left center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.identityBox {
  text-align: right;
}
.discoverHeader {
  padding: 0px 0;
}
.discoverSection {
  overflow: hidden;
}

.discoverSection h2 {
  font-family: 'Aleobold', serif;
  font-size: 96px;
  position: absolute;
  left: -2px;
  line-height: 1;
  top: -10px;
  color: rgba(255, 255, 255, 0.2);
}
.discoverBox {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  -moz-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.4), -10px 10px 5px -8px rgba(128,128,128,0.4);
  margin-bottom: 20px;
  overflow: hidden;
  padding: 50px 20px;
  position: relative;
}
h1, h2 {
  font-family: 'aleobold', sans-serif;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
article {
  background-color: #FFFFFF;
}



.discoverBox form {
  margin-bottom: 10px;
  position: relative;
  top: 40px;
}
.recommendations {

}
.recommendations div article {
  /*width: 32%;*/
}
.recommendations div article.large-4:nth-child(2) {
  margin-right: 2%;
  margin-left: 2%;
}
.welcomeSection.columns {
  padding-left: 0;
}
.subheader {
  margin: 0 -0.9375rem 15px;
  color: black;
  opacity: 0.15;
}
.subheader small {
  font-size: 46px;
  line-height: 55px;
}
.reviewAuthor {
  font-size: 14px;
}
.reviewAuthor:before {
  content: '~ ';
}
.rating {
  color: #e34949;
}
.bookcontainer {
  padding: 0;
}
article.recommendation-article {
  margin-right: 20px;
  display: inline-block;
}
.recommendation-article {
  -webkit-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  -moz-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.4), -10px 10px 5px -8px rgba(128,128,128,0.4);
  margin-bottom: 20px;
  width: 320px;
  padding: 20px;
}
.recommendation-article > .row  > .columns {
  margin-top: 20px;
}
article.review-article {
  margin-right: 20px;
  display: inline-block;

}
.review-article {
  -webkit-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  -moz-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.4), -10px 10px 5px -8px rgba(128,128,128,0.4);
  margin-bottom: 20px;
  width: 320px;
  padding: 20px;
}
.review-article > .row  > .columns {
  margin-top: 20px;
}
.reviewText {
  font-size: 15px;
  line-height: 18px;
}
.bookdetails > h3 {
  font-size: 16px;
  color: #666666;
  line-height: 18px;
}
.bookdetails > p {
  font-size: 12px;
  color: #666666;
  line-height: 15px;
  margin-bottom: 0;
}
.recommendation-article .reviewtext {
  color: purple;
}
.optionsBox a {
  display: inline-block;
  float: left;
  /*width: 50%;*/
  margin-right: 10px;
  padding: 4px 20px 8px 11px;
  font-size: 14px;
  line-height: 18px;
}

.button {
  border-radius: 6px;
  /*border: 1px solid #979797;*/
  background: linear-gradient(to bottom, #49B6E4, #2363AF);
  width: 110px;
}

.button.secondary {
  border-radius: 6px;
  border: 1px solid #2362AE;
  background: white;
  color: #2362AE;
  width: 110px;
}
.fa-plus {
  margin-right: 13px;
}
aside {
    font-family: 'aleobold', sans-serif;
    background-color: #AC363A;
    position: relative;
    top: -20px;
    padding-top: 20px;
    overflow: hidden;
}
aside h2.getInspired {
  color: rgba(0,0,0,0.25);
  position: relative;
  /*left: -25px;*/
}
aside a:link, aside a:visited, aside a:hover, aside a:active  {
  color: white;
}
aside > ul.collectionList {
  padding: 0;
  list-style: none;
}
aside ul ul {
  list-style: none;
}
aside > ul.collectionList > li {
  padding-top: 10px;
}
aside > ul.collectionList > li > a {
  font-size: 20px;
  line-height: 24px;
}
aside > ul.collectionList > li ul a {
  font-size: 15px;
  line-height: 28px;
}
aside > ul.collectionList a:hover {
  text-decoration: underline;
}
.contentContainer {
  display: flex;
  flex-grow: 1;
}
form .row .postfix-radius.row.collapse button.searchResetBtn {
    height: 37px;
    border: 1px solid #ccc;
    border-left: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;}
label.postfix.searchLabel {
  font-size: 0.6875rem;
  background: linear-gradient(to bottom, #49B6E4, #2363AF);
  border: none;
}
.fa-search {
  color: white;
  font-size: 1.5em;
}
.searchTerm {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 12px;
  line-height: 14px;
  color: #666;
}
